@use "sass:map";
$grid: (
	xs: 32rem,
	sm: 54rem,
	md-sm: 50rem,
	md: 72rem,
	lg-sm: 77rem,
	lg: 96rem,
	xl: 144rem,
);

/* prettier-ignore */
$color: (
	black-0: (0, 0, 0),       // color: #000;
	black-1: (34, 34, 34),    // color: #222222;
	black-2: (39, 39, 39),    // color: #272727;
	gray-1: (94, 94, 94),     // color: #5e5e5e;
	gray-2: (245, 245, 245),  // color: #f5f5f5;
	gray-3: (249, 249, 249),  // color: #f9f9f9;
	gray-4: (249, 249, 249),  // color: #fafafa
	gray-5: (95, 95, 95),     // color: #5f5f5f
 gray-6: (246, 246, 246),  // color: #f6f6f6
	blue-1: (89, 101, 212),   // color: #5965d4;
	blue-2: (27, 27, 29),     // color: #1b1b1d;
	blue-3: (174, 182, 248),  // color: #aeb6f8;
	blue-4: (181, 183, 197),  // color: #b5b7c5;
	blue-5: (117, 155, 240),  // color: #759bf0;
	blue-6: (174, 182, 249),  // color: #aeb6f9;
 blue-7: (240, 241, 255),  // color: #f0f1ff;
 blue-8: (238, 239, 247),  // color: #f3f5fb;
 blue-9: (34, 60, 80),     // color: #223c50
 white-1: (255, 255, 255), // color: #fff
);

$font-size: (
	fs-100: 1rem,
	fs-110: 1.1rem,
	fs-120: 1.2rem,
	fs-130: 1.3rem,
	fs-140: 1.4rem,
	fs-150: 1.5rem,
	fs-160: 1.6rem,
	fs-170: 1.7rem,
	fs-180: 1.8rem,
	fs-184: 1.84rem,
	fs-190: 1.9rem,
	fs-200: 2rem,
	fs-210: 2.1rem,
	fs-220: 2.2rem,
	fs-240: 2.4rem,
	fs-250: 2.5rem,
	fs-260: 2.6rem,
	fs-270: 2.7rem,
	fs-290: 2.9rem,
	fs-300: 3rem,
	fs-310: 3.1rem,
	fs-320: 3.2rem,
	fs-330: 3.3rem,
	fs-340: 3.4rem,
	fs-350: 3.5rem,
	fs-400: 4rem,
	fs-410: 4.1rem,
	fs-420: 4.2rem,
	fs-430: 4.3rem,
	fs-480: 4.8rem,
	fs-490: 4.9rem,
	fs-650: 6.5rem,
	fs-660: 6.6rem,
	fs-800: 8rem,
	fs-810: 8.1rem,
	fs-950: 9.5rem,
	fs-960: 9.6rem,
);

$line-height: (
	lh-100: 1rem,
	lh-110: 1.1rem,
	lh-120: 1.2rem,
	lh-130: 1.3rem,
	lh-140: 1.4rem,
	lh-150: 1.5rem,
	lh-160: 1.6rem,
	lh-170: 1.7rem,
	lh-180: 1.8rem,
	lh-190: 1.9rem,
	lh-200: 2rem,
	lh-210: 2.1rem,
	lh-220: 2.2rem,
	lh-230: 2.3rem,
	lh-240: 2.4rem,
	lh-250: 2.5rem,
	lh-260: 2.6rem,
	lh-270: 2.7rem,
	lh-280: 2.8rem,
	lh-290: 2.9rem,
	lh-300: 3rem,
	lh-310: 3.1rem,
	lh-320: 3.2rem,
	lh-330: 3.3rem,
	lh-340: 3.4rem,
	lh-350: 3.5rem,
	lh-400: 4rem,
	lh-460: 4.6rem,
	lh-500: 5rem,
	lh-560: 5.6rem,
	lh-680: 6.8rem,
	lh-750: 7.5rem,
	lh-790: 7.9rem,
	lh-860: 8.6rem,
	lh-1110: 11.1rem,
);

$letter-spacing: (
	ls-100: 0.01rem,
	ls-200: 0.02rem,
	ls-300: 0.03rem,
	ls-400: 0.04rem,
	ls-500: 0.05rem,
	ls-600: 0.06rem,
	ls-700: 0.07rem,
	ls-800: 0.08rem,
	ls-900: 0.09rem,
	ls-1000: 0.1rem,
	ls-1100: 0.11rem,
	ls-1200: 0.12rem,
	ls-1300: 0.13rem,
	ls-1400: 0.14rem,
	ls-1500: 0.15rem,
	ls-1600: 0.16rem,
	ls-1700: 0.17rem,
	ls-1800: 0.18rem,
	ls-2000: 0.2rem,
);

$font-weight: (
	fw-100: 100,
	fw-200: 200,
	fw-300: 300,
	fw-400: 400,
	fw-500: 500,
	fw-600: 600,
	fw-700: 700,
	fw-800: 800,
	fw-900: 900,
	fw-1000: 1000,
	fw-1100: 1100,
	fw-1200: 1200,
	fw-1300: 1300,
);

$border-radius: (
	radius-10: 1px,
	radius-20: 2px,
	radius-30: 3px,
	radius-40: 4px,
	radius-50: 5px,
	radius-60: 6px,
	radius-70: 7px,
	radius-80: 8px,
	radius-90: 9px,
	radius-100: 10px,
	radius-400: 40px,
);

$animation-timing-function: (
	ease-linear: linear,
	ease-in: ease-in,
	ease-out: ease-out,
	ease-in-out: ease-in-out,
	cubic-bezier-100: cubic-bezier(0.4, 0, 0.2, 1),
);

$animation-duration: (
	duration-1600: 0.16s,
	duration-2000: 0.2s,
	duration-5000: 0.5s,
	duration-7000: 0.7s,
);

$global: (
	global-font-size-reduce: 62.5%,
	global-min-width: 200px,
);

$xs: map.get($grid, xs);
$sm: map.get($grid, sm);
$md-sm: map.get($grid, md-sm);
$md: map.get($grid, md);
$lg: map.get($grid, lg);
$lg-sm: map.get($grid, lg-sm);
$xl: map.get($grid, xl);

:root {
	@each $item, $val in $global {
		--#{$item}: #{$val};
	}

	@each $item, $val in $grid {
		--#{$item}: #{$val};
	}

	@each $item, $val in $color {
		--#{$item}: #{$val};
	}

	@each $item, $val in $font-size {
		--#{$item}: #{$val};
	}

	@each $item, $val in $font-weight {
		--#{$item}: #{$val};
	}

	@each $item, $val in $line-height {
		--#{$item}: #{$val};
	}

	@each $item, $val in $letter-spacing {
		--#{$item}: #{$val};
	}

	@each $item, $val in $border-radius {
		--#{$item}: #{$val};
	}

	@each $item, $val in $animation-timing-function {
		--#{$item}: #{$val};
	}

	@each $item, $val in $animation-duration {
		--#{$item}: #{$val};
	}

	--font-family-root: Mardoto, sans-serif;
	font-size: var(--global-font-size-reduce);
}
