@use "sass:map";
@use "sass:math";
@use "sass:list";
@use "sass:string";

@use "abstracts/index" as *;
@use "abstracts/rem" as *;
@use "abstracts/font-face-generator" as *;
@use "abstracts/variables" as *;
@use "abstracts/unreset";

.wow {
	visibility: hidden;
} // .wow

@mixin img-overlay {
	@include p;
	&:after {
		@include wh(100%);
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgb(var(--black-0));
		opacity: 0;
		transition: opacity var(--ease-linear) var(--duration-2000);
		will-change: opacity;
	} // @mixin img-overlay:after
	&:hover {
		&:after {
			opacity: 0.35;
		} // @mixin img-overlay:hover:after
	} // @mixin img-overlay:hover
} // @mixin img-overlay

*,
*::before,
*::after {
	box-sizing: border-box;
} // *::after

strong {
	font-weight: var(--fw-700);
} // strong

$fonts-path: "../fonts";
$font-file-types: "woff2" "woff";

@include font-face(
	(
		"Mardoto": (
			300: "Mardoto-Light",
			400: "Mardoto-Regular",
			500: "Mardoto-Medium",
			700: "Mardoto-Bold",
			900: "Mardoto-Black",
		),
	)
);

html,
body {
	@include wh(100%);
	scroll-behavior: smooth;
} // body

body {
} // body

.footer {
	@include p;
	margin-top: -15rem;
	z-index: 10;
} // .footer

.wrapper {
	width: 100%;
	min-height: 100%;
	padding-bottom: 16rem;
} // .wrapper

.main {
	width: 100%;
} // .main

body {
	background-color: rgb(var(--gray-4));
	&::-webkit-scrollbar {
		width: 1rem;
	} // body::-webkit-scrollbar

	&::-webkit-scrollbar-thumb {
		background: rgb(var(--blue-1));
		border-radius: var(--radius-20);
	} // body::-webkit-scrollbar-thumb

	&::-webkit-scrollbar-track {
		background-color: transparent;
	} // body::-webkit-scrollbar-track
} // body

@mixin selection {
	::selection {
		background: rgb(var(--blue-1));
		color: rgb(var(--white-1));
	} // @mixin selection ::selection
} // @mixin selection

@mixin selection-invert {
	::selection {
		background: rgb(var(--white-1));
		color: rgb(var(--blue-1));
	} // @mixin selection-invert ::selection
} // @mixin selection-invert

.flex {
	display: flex;
} // .flex

.scrollbar {
	&-thumb,
	&-track {
		&-y {
			width: 0.85rem;
		} // .scrollbar-track-y
	} // .scrollbar-track

	&-track {
		&-y {
			background: transparent !important;
		} // .scrollbar-track-y
	} // .scrollbar-track

	&-thumb {
		&-y {
			background: rgb(var(--blue-1)) !important;
			border-radius: var(--radius-80);
		} // .scrollbar-thumb-y
	} // .scrollbar-thumb
} // .scrollbar

body,
a,
button,
input,
textarea,
select {
	font-family: var(--font-family-root);
} // select

a {
	text-decoration: none;
} // a

.section-fix {
	@include mx(auto);
	max-width: var(--xl);
} // .section-fix

.header {
	width: 100%;
	@include selection;
	@include p;
	box-shadow: 0 4px 6px rgba(var(--blue-4), 0.18);
	background-color: rgb(var(--white-1));
	z-index: 1;
	border-bottom: 1px solid rgb(var(--blue-6));
	&__content {
		@include px(2.3rem, 2.6rem);
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 9.235rem;

		.logo {
			display: inline-block;
			margin-top: 0.7rem;
		} // .header__content .logo

		.menu {
			margin-top: 0.5rem;

			@include media($sm) {
				display: none;
			} // .header__content .menu @include media($sm)

			li {
				@include px(clamp(0.5rem, rem-vw(4rem, $xl), 4rem));
			} // .header__content .menu li
		} // .header__content .menu

		.btn {
			&--support {
				margin-top: 0.5rem;
				margin-right: clamp(0.5rem, rem-vw(3.7rem, $xl), 3.7rem);
			} // .header__content .btn--support
		} // .header__content .btn
	} // .header__content
} // .header

.logo {
	display: inline-block;

	&__img {
		@include wh(7rem, 6.5rem);
	} // .logo__img
} // .logo

.menu {
	&__ul {
		display: inline-flex;
	} // .menu__ul

	// prettier-ignore
	a {
		display: inline-block;
		font-family: var(--font-family-root);
		font-weight: var(--fw-400);
		font-size: clamp(
			var(--fs-150),
			rem-vw(map.get($font-size, fs-180), $xl),
			var(--fs-180)
		);
		color: var(--gray-5);
		transition: font var(--ease-linear) var(--duration-1600), 
              color var(--ease-linear) var(--duration-1600);
		will-change: font, color;
		white-space: nowrap;

		&--current,
		&:hover {
			color: rgb(var(--blue-1));
		} // .menu a:hover
	} // .menu a

	.current-menu-item,
	&__li--current {
		a {
			font-weight: var(--fw-700);
			color: rgb(var(--blue-1));
		} // .menu__li--current a
	} // .menu__li--current
} // .menu

.btn {
	// prettier-ignore
	&--support {
		display: inline-block;
		border-radius: var(--radius-80);
		background-color: rgb(var(--blue-1));
		font-size: clamp(
			var(--fs-150),
			rem-vw(map.get($font-size, fs-180), $xl),
			var(--fs-180)
		);
		color: rgb(var(--gray-4));
		font-weight: var(--fw-900);
		letter-spacing: var(--ls-1000);
		line-height: var(--lh-210);
		padding: 0.8rem clamp(0.5rem, rem-vw(5rem, $xl), 5rem);
		border: 1px solid rgb(var(--blue-1));
		transition: background-color var(--ease-linear) var(--duration-1600),
              color var(--ease-linear) var(--duration-1600);
		&:hover {
			background-color: rgb(var(--white-1));
			color: rgb(var(--blue-1));
		} // .btn--support:hover

		.txt-label {
			@include p(rel, 0.2rem);
			display: inline-block;
		} // .btn--support .txt-label
	} // .btn--support
} // .btn

.langs {
	display: inline-flex;

	@include media($sm) {
		display: none;
	} // .langs @include media($sm)

	.text-divider {
		@include px(1rem);
	} // .langs .text-divider
} // .langs

.lang {
	display: inline-block;
	font-size: var(--fs-120);
	line-height: var(--lh-140);
	color: rgb(var(--gray-5));
	font-weight: var(--fw-300);

	&--current {
		font-weight: var(--fw-500);
	} // .lang--current

	&--hy {
		text-decoration: none;
	} // .lang--hy

	&--en {
		margin-top: -1px;
	} // .lang--en
} // .lang

.group {
	&--btn-langs {
		display: inline-block;
		white-space: nowrap;
	} // .group--btn-langs
} // .group

.footer {
	width: 100%;
	@include selection-invert;
	background-color: rgb(var(--blue-1));

	&--spacer {
		// margin-top: clamp(4rem, rem-vw(9rem, $xl), 9rem);
	} // .footer--spacer

	&__content {
		display: flex;
		justify-content: space-between;
		border-radius: var(--radius-80);
		min-height: 14.6rem;
		padding: clamp(2rem, rem-vw(4rem, $xl), 4rem);
		color: rgb(var(--white-1));
		font-size: var(--fs-160);

		@include media($lg-sm) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;

			.soc-info {
				margin-top: 2rem;
			} // .footer__content @include media($lg-sm) .soc-info
		} // .footer__content @include media($lg-sm)
	} // .footer__content
} // .footer

.contact-info {
	&__row {
		padding: 0.9rem 0;
	} // .contact-info__row
	// line-height: 212%;
} // .contact-info

.soc-info {
	&__row {
		@include py(0.8rem, 0.4rem);
	} // .soc-info__row
} // .soc-info

.soc-links {
	display: inline-flex;

	&--persons {
		display: flex;
		justify-content: center;
		padding-bottom: 1.5rem;
		.soc-link {
			@include mx(0.1rem, 1.51rem);

			&:last-child {
				margin-right: 0;
			} // .soc-links--persons .soc-link:last-child
		} // .soc-links--persons .soc-link
	} // .soc-links--persons

	&--invert {
		.soc-link {
			&:after {
				background-color: rgb(var(--blue-1));
				border: solid rgb(var(--blue-1)) 1px;
			} // .soc-links--invert .soc-link:after
			svg {
				fill: rgb(var(--white-1));
				transform: scale(0.76);
			} // .soc-links--invert .soc-link svg
			&:hover {
				&:after {
					background-color: rgb(var(--white-1));
					border: solid rgb(var(--white-1)) 1px;
				} // .soc-links--invert .soc-link:hover:after
				svg {
					fill: rgb(var(--blue-1));
				} // .soc-links--invert .soc-link:hover svg
			} // .soc-links--invert .soc-link:hover
		} // .soc-links--invert .soc-link
	} // .soc-links--invert

	&--footer {
		.soc-link {
			// margin-top: 1.6rem;
			@include mx(0.1rem, 1.51rem);

			&:last-child {
				margin-right: 0;
			} // .soc-links--footer .soc-link:last-child
		} // .soc-links--footer .soc-link
	} // .soc-links--footer
} // .soc-links

.soc-link {
	@include wh(3.199rem);
	@include f-center;
	@include p;
	border-radius: 50%;
	z-index: 1;
	flex-shrink: 0;

	// prettier-ignore
	&:after {
		@include wh(100%);
		@include l-center;
		content: "";
		background-color: rgb(var(--white-1));
		border: solid rgb(var(--white-1)) 1px;
		transition: background-color var(--ease-linear) var(--duration-1600),
              border var(--ease-linear) var(--duration-1600),
              width var(--ease-linear) var(--duration-1600), 
              height var(--ease-linear) var(--duration-1600);
		will-change: background-color, 
               border 
               width 
               height;
		border-radius: 50%;
		z-index: -1;
	} // .soc-link:after

	// prettier-ignore
	svg {
		fill: rgb(var(--blue-1));
		transform: scale(1);
		transition: fill var(--ease-linear) var(--duration-1600),
              transform var(--ease-linear) var(--duration-1600);
		will-change: fill,
               transform;
	} // .soc-link svg

	&:hover {
		&:after {
			@include wh(calc(100% + 0.5rem));
			background-color: rgb(var(--blue-1));
		} // .soc-link:hover:after

		svg {
			transform: scale(0.9);
			fill: rgb(var(--white-1));
		} // .soc-link:hover svg
	} // .soc-link:hover
} // .soc-link

.info {
	@include selection;

	background-color: rgb(var(--gray-4));
	background-repeat: repeat;
	background-position: center;

	background-image: image-set(
		url("../img/section-bg-1x.png") 1x,
		url("../img/section-bg-1.5x.png") 1.5x,
		url("../img/section-bg-2x.png") 2x,
		url("../img/section-bg-3x.png") 3x,
		url("../img/section-bg-4x.png") 4x
	);

	&__content {
		@include f-center;
		@include px(1rem);
		min-height: clamp(30rem, rem-vw(50rem, $xl), 50rem);
	} // .info__content

	&__content-group {
		text-align: center;

		.description {
			@include mx(auto);
			max-width: clamp(43.3rem, rem-vw(86.6rem, $xl), 86.6rem);
			margin-top: 2.7rem;
		} // .info__content-group .description
	} // .info__content-group
} // .info

.h1 {
	font-weight: var(--fw-900);
	font-size: clamp(
		var(--fs-300),
		rem-vw(map.get($font-size, fs-800), $xl),
		var(--fs-800)
	);
	line-height: clamp(
		var(--lh-300),
		rem-vw(map.get($line-height, lh-750), $xl),
		var(--lh-750)
	);

	color: rgba(var(--blue-1));
	&.--about {
		letter-spacing: clamp(
			var(--ls-100),
			rem-vw(map.get($letter-spacing, ls-1800), $xl),
			var(--ls-1800)
		);

		line-height: clamp(
			var(--lh-300),
			rem-vw(map.get($line-height, lh-790), $xl),
			var(--lh-790)
		);
	} // .h1.--about

	&--page {
		font-size: clamp(
			var(--fs-300),
			rem-vw(map.get($font-size, fs-800), $xl),
			var(--fs-650)
		);
		line-height: 145%;
	} // .h1--page
} // .h1

.description {
	font-weight: var(--fw-400);
	color: var(--black-1);

	&--goal,
	&--about {
		line-height: clamp(
			var(--lh-220),
			rem-vw(map.get($line-height, lh-400), $xl),
			var(--lh-400)
		);
	} // .description--about

	&--about {
		letter-spacing: calc(
			clamp(
					var(--ls-100),
					rem-vw(map.get($letter-spacing, ls-1600), $xl),
					var(--ls-1600)
				) * -1
		);

		font-size: clamp(
			var(--fs-160),
			rem-vw(map.get($font-size, fs-300), $xl),
			var(--fs-300)
		);
	} // .description--about

	&--goal {
		font-size: clamp(
			var(--fs-160),
			rem-vw(map.get($font-size, fs-260), $xl),
			var(--fs-260)
		);
		margin-bottom: 2rem;
	} // .description--goal
} // .description

.goal {
	@include selection;
	background-color: rgb(var(--white-1));

	// prettier-ignore
	&__content {
		display: flex;
		padding: clamp(3.3rem, rem-vw(3.3rem, $xl), 3.3rem)
           clamp(4.1rem, rem-vw(8.2rem, $xl), 8.2rem);
		min-height: clamp(31rem, rem-vw(51rem, $xl), 51rem);

		.default-link {
			@include p(rel, 2.5rem);
		} // .goal__content .default-link

		@include media($sm) {
			@include f-center;
			flex-direction: column;

			.goal {
				&__left,
				&__right {
					width: 100%;
					@include kill-space;
				} // .goal__content @include media($sm) .goal__right

				&__img {
					margin-left: 0;
					max-width: 20.246rem;
					width: 100%;
					max-height: 20.246rem;
					height: 100%;
				} // .goal__content @include media($sm) .goal__img

				&__left {
					margin-bottom: 3rem;
				} // .goal__content @include media($sm) .goal__left

				&__info {
					margin-top: 0;
				} // .goal__content @include media($sm) .goal__info
			} // .goal__content @include media($sm) .goal

			.default-link {
				@include p;
			} // .goal__content @include media($sm) .default-link
		} // .goal__content @include media($sm)
	} // .goal__content

	&__left {
		@include px(3rem);
		@include f-center;
		width: 38.0204241948154%;
	} // .goal__left

	&__right {
		display: flex;
		align-items: center;
		width: 61.9795758051846%;
	} // .goal__right

	&__info {
		margin-top: -3.5rem;
	} // .goal__info

	&__img {
		max-width: 29.246rem;
		width: 100%;
		max-height: 29.246rem;
		height: 100%;
		margin-left: -3.6rem;
		margin-top: 1.1rem;
	} // .goal__img
} // .goal

.default-link {
	@include p;
	display: inline-block;
	font-weight: var(--fw-400);
	letter-spacing: var(--ls-400);
	color: rgb(var(--blue-1));
	z-index: 1;
	transition: color var(--ease-linear) var(--duration-1600);
	will-change: color;

	// prettier-ignore
	&:after {
		@include wh(100%, 1px);
		position: absolute;
		bottom: 3px;
		left: 0;
		content: "";
		display: block;
		background: rgb(var(--blue-1));
		transition: width var(--ease-linear) var(--duration-1600), 
              height var(--ease-linear) var(--duration-1600),
              bottom var(--ease-linear) var(--duration-1600),
              left var(--ease-linear) var(--duration-1600);
		z-index: -1;
	} // .default-link:after

	&:hover {
		color: rgb(var(--white-1));
		&:after {
			@include wh(120%, 150%);
			bottom: -25%;
			left: -10%;
		} // .default-link:hover:after
	} // .default-link:hover

	line-height: clamp(
		var(--lh-220),
		rem-vw(map.get($line-height, lh-300), $xl),
		var(--lh-300)
	);
	font-size: clamp(
		var(--fs-160),
		rem-vw(map.get($font-size, fs-260), $xl),
		var(--fs-260)
	);
} // .default-link

.indicator {
	background: rgba(var(--gray-4));

	// prettier-ignore
	&__content {
		@include selection;
		padding: clamp(1rem, rem-vw(5rem, $xl), 5rem)
           clamp(0.1rem, rem-vw(8rem, $xl), 8rem);
		@include media($sm) {
			.arrs-group--1 {
				padding-top: 0;
				padding-left: 0;
			} // .indicator__content @include media($sm) .arrs-group--1

			.indicator {
				&__content-middle {
					padding: 2rem 0 4rem;
					&-left {
						padding-bottom: 3rem;
					} // .indicator__content @include media($sm) .indicator__content-middle-left
				} // .indicator__content @include media($sm) .indicator__content-middle
			} // .indicator__content @include media($sm) .indicator
		} // .indicator__content @include media($sm)

		&-top {
			display: flex;
			justify-content: space-between;
		} // .indicator__content-top

		&-middle {
			min-height: clamp(23.2rem, rem-vw(33.2rem, $xl), 33.2rem);
			display: flex;
			align-items: center;
			justify-content: space-between;

			&-left {
				padding-left: clamp(0.5rem, rem-vw(8.2rem, $xl), 8.2rem);
			} // .indicator__content-middle-left

			&-right {
				display: flex;
				padding-right: clamp(0.3rem, rem-vw(5.3rem, $xl), 5.3rem);
				gap: 3rem;
				margin-top: -3.5rem;
			} // .indicator__content-middle-right

			@include media($sm) {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
				.indicator__content-middle-left {
					padding-left: 0;
				} // .indicator__content-middle @include media($sm) .indicator__content-middle-left
				.indicator__content-middle-right {
					padding-right: 0;
					margin-top: 0;
					gap: 1.5rem;
				} // .indicator__content-middle @include media($sm) .indicator__content-middle-right
			} // .indicator__content-middle @include media($sm)
		} // .indicator__content-middle
	} // .indicator__content
} // .indicator

.arrs-group {
	&--1 {
		padding-left: clamp(1rem, rem-vw(31.4rem, $xl), 31.4rem);
		padding-top: 3.2rem;
		display: flex;
		gap: 1.1rem;
	} // .arrs-group--1

	&--2 {
		display: flex;
		gap: 1.1rem;
	} // .arrs-group--2

	&--3 {
		display: flex;
		gap: 1.3rem;
	} // .arrs-group--3

	.icon {
		fill: rgba(var(--blue-5));
		@include wh(
			clamp(1rem, rem-vw(4.476rem, $xl), 4.476rem),
			clamp(1rem, rem-vw(4.314rem, $xl), 4.314rem)
		);

		&--arr-to-bottom-right {
			fill-opacity: 0.25;
		} // .arrs-group .icon--arr-to-bottom-right
	} // .arrs-group .icon
} // .arrs-group

.h2 {
	color: rgb(var(--blue-1));
	font-weight: var(--fw-700);
	letter-spacing: var(--ls-1600);

	font-size: clamp(
		var(--fs-300),
		rem-vw(map.get($font-size, fs-800), $xl),
		var(--fs-800)
	);

	line-height: clamp(
		var(--lh-300),
		rem-vw(map.get($line-height, lh-860), $xl),
		var(--lh-860)
	);

	&--supporter,
	&--about {
		font-weight: var(--fw-700);
		font-size: clamp(
			var(--fs-220),
			rem-vw(map.get($font-size, fs-400), $xl),
			var(--fs-420)
		);

		letter-spacing: clamp(
			var(--ls-100),
			rem-vw(map.get($font-size, fs-800), $xl),
			var(--ls-2000)
		);
	} // .h2--about

	&--supporter {
		line-height: clamp(
			var(--lh-250),
			rem-vw(map.get($line-height, lh-500), $xl),
			var(--lh-500)
		);
		letter-spacing: clamp(
			0.09rem,
			rem-vw(map.get($letter-spacing, ls-1800), $xl),
			var(--ls-1800)
		);
	} // .h2--supporter

	&--about-spacer {
		padding-top: clamp(0.8rem, rem-vw(1.9rem, $xl), 1.9rem);
		margin-left: -0.5rem;
	} // .h2--about-spacer

	&--persons {
		text-align: center;
		font-weight: var(--fw-700);
		font-size: clamp(
			var(--fs-220),
			rem-vw(map.get($font-size, fs-400), $xl),
			var(--fs-420)
		);

		letter-spacing: clamp(
			var(--ls-100),
			rem-vw(map.get($font-size, fs-800), $xl),
			var(--ls-2000)
		);
		line-height: 140%;
	} // .h2--persons

	&--companies {
		text-align: center;
		display: block;
		font-weight: var(--fw-700);
		font-size: clamp(
			var(--fs-220),
			rem-vw(map.get($font-size, fs-400), $xl),
			var(--fs-420)
		);

		letter-spacing: clamp(
			var(--ls-100),
			rem-vw(map.get($font-size, fs-800), $xl),
			var(--ls-2000)
		);
	} // .h2--companies
} // .h2

.count {
	@include p;
	@include selection-invert;

	display: flex;
	align-items: center;
	min-width: clamp(14rem, rem-vw(27.4rem, $xl), 27.4rem);
	height: clamp(12.6rem, rem-vw(25.1rem, $xl), 25.1rem);
	border: 2px solid rgba(var(--blue-6));
	border-radius: var(--radius-40);

	&__label {
		background: rgb(var(--blue-1));
		min-height: clamp(4rem, rem-vw(8rem, $xl), 8rem);
		position: absolute;
		bottom: 0;
		left: 0;
		width: calc(100% - 4.2rem);
		margin: 0 2.1rem;
		border-radius: var(--radius-40);
		transform: translateY(50%);
		font-size: clamp(
			var(--fs-120),
			rem-vw(map.get($font-size, fs-220), $xl),
			var(--fs-220)
		);

		line-height: clamp(
			var(--lh-160),
			rem-vw(map.get($line-height, lh-250), $xl),
			var(--lh-250)
		);

		text-align: center;
		color: rgb(var(--white-1));
		display: flex;
		align-items: center;
	} // .count__label

	&__value {
		display: block;
		width: 100%;
		text-align: center;
		font-weight: var(--fw-900);
		letter-spacing: var(--ls-200);
		color: rgba(var(--blue-1));
		line-height: clamp(
			var(--lh-750),
			rem-vw(map.get($line-height, lh-1110), $xl),
			var(--lh-1110)
		);
		font-size: clamp(
			var(--fs-350),
			rem-vw(map.get($font-size, fs-950), $xl),
			var(--fs-950)
		);
	} // .count__value
} // .count

.media {
	@include selection;
	&__content {
		@include px(clamp(0.8rem, rem-vw(7.8rem, $xl), 7.8rem));
		padding-top: clamp(0.8rem, rem-vw(4rem, $xl), 4rem);
	} // .media__content
} // .media

.cols {
	&.--media {
		display: flex;

		.h2 {
			font-weight: var(--fw-900);
			font-size: clamp(
				var(--fs-300),
				rem-vw(map.get($font-size, fs-480), $xl),
				var(--fs-480)
			);
			line-height: clamp(
				var(--lh-400),
				rem-vw(map.get($line-height, lh-560), $xl),
				var(--lh-560)
			);
			letter-spacing: var(--ls-500);
			text-align: right;
			@include media($sm) {
				text-align: center;
			} // .cols.--media .h2 @include media($sm)
		} // .cols.--media .h2

		.__1 {
			width: 61.7601%;
			padding-right: 2rem;
		} // .cols.--media .__1

		.__2 {
			width: 38.2399%;
		} // .cols.--media .__2

		&.--title {
			padding-bottom: clamp(0.01rem, rem-vw(4rem, $xl), 4rem);

			.__1 {
				padding-right: clamp(0.01rem, rem-vw(4.7rem, $xl), 4.7rem);
				@include media($sm) {
					padding-right: 0;
					text-align: center;
				} // .cols.--media.--title .__1 @include media($sm)
			} // .cols.--media.--title .__1

			.__2 {
				text-decoration: none;
			} // .cols.--media.--title .__2
		} // .cols.--media.--title

		&.--content {
			.__1 {
				font-size: 0;
			} // .cols.--media.--content .__1

			.__2 {
				text-decoration: none;
			} // .cols.--media.--content .__2

			@include media($sm) {
				.__1 {
					padding-bottom: clamp(1.7rem, rem-vw(2.7rem, $xl), 2.7rem);
				} // .cols.--media.--content @include media($sm) .__1
			} // .cols.--media.--content @include media($sm)
		} // .cols.--media.--content

		&.--btn {
			padding-top: clamp(2rem, rem-vw(4rem, $xl), 4rem);

			.__1 {
				padding-right: clamp(0.001rem, rem-vw(3.6rem, $xl), 3.6rem);
				text-align: right;
				@include media($sm) {
					text-align: center;
				} // .cols.--media.--btn .__1 @include media($sm)
			} // .cols.--media.--btn .__1

			.__2 {
				text-decoration: none;
			} // .cols.--media.--btn .__2
		} // .cols.--media.--btn

		@include media($sm) {
			display: block;
			width: 100%;
			.__1,
			.__2 {
				width: 100%;
				padding-right: 0;
			} // .cols.--media @include media($sm) .__2
		} // .cols.--media @include media($sm)
	} // .cols.--media
} // .cols

.js-typo-intro-2 {
	.letter {
		display: inline-block;
	} // .js-typo-intro-2 .letter
} // .js-typo-intro-2

.js-typo-intro {
	.letter {
		display: inline-block;
	} // .js-typo-intro .letter
} // .js-typo-intro

.dn {
	// display: none !important;
} // .dn

.about {
	@include selection;

	// prettier-ignore
	&__content {
		padding: clamp(3rem, rem-vw(11.4rem, $xl), 11.4rem)
           clamp(3rem, rem-vw(16.6rem, $xl), 16.6rem)
           clamp(1.8rem, rem-vw(9rem, $xl), 9rem)
           clamp(1.6rem, rem-vw(8rem, $xl), 8rem);
		@include media($xs) {
			padding: clamp(3rem, rem-vw(15rem, $xl), 13.1rem)
            clamp(1.6rem, rem-vw(8rem, $xl), 8rem)
            clamp(1.8rem, rem-vw(9rem, $xl), 9rem)
            clamp(2.6rem, rem-vw(8rem, $xl), 8rem);
		} // .about__content @include media($xs)
	} // .about__content
} // .about

.about-image {
	@include wh(100%, auto);

	@include media($xs) {
		@include wh(60%, auto);
	} // .about-image @include media($xs)

	&--star {
		max-width: 27.34rem;
	} // .about-image--star

	&--telescope {
		max-width: 27.34rem;
	} // .about-image--telescope

	&--balance {
		max-width: 27.34rem;
	} // .about-image--balance
} // .about-image

.grid-c-r2 {
	&.--about {
		&.--1 {
			margin-bottom: 2rem;
		} // .grid-c-r2.--about.--1

		&.--2 {
			margin-bottom: 3.9rem;
			@include media($xs) {
				margin-bottom: 1.9rem;
			} // .grid-c-r2.--about.--2 @include media($xs)
		} // .grid-c-r2.--about.--2

		&.--3 {
			margin-bottom: 0.4rem;
			.cell.--c {
				padding-top: clamp(2.8rem, rem-vw(5.8rem, $xl), 5.8rem);
				.about-image {
					&--telescope {
						transform: translate(1.1rem, -0.5rem);
					} // .grid-c-r2.--about.--3 .cell.--c .about-image--telescope
				} // .grid-c-r2.--about.--3 .cell.--c .about-image
			} // .grid-c-r2.--about.--3 .cell.--c
		} // .grid-c-r2.--about.--3

		&.--4 {
			margin-bottom: 0.4rem;
			.cell.--c {
				padding-top: clamp(2.2rem, rem-vw(6.2rem, $xl), 6.2rem);

				.about-image {
					&--balance {
						transform: translate(1.1rem, 0rem);
					} // .grid-c-r2.--about.--4 .cell.--c .about-image--balance
				} // .grid-c-r2.--about.--4 .cell.--c .about-image
			} // .grid-c-r2.--about.--4 .cell.--c
		} // .grid-c-r2.--about.--4

		display: grid;
		width: 100%;
		gap: 0 2rem;
		grid-template-columns: 32.092617% 1fr;
		grid-template-rows: 2;
		grid-template-areas:
			"c r1"
			"c r2";
		.cell {
			&.--c {
				grid-area: c;
				padding-right: 4rem;

				@include media($xs) {
					@include py(clamp(1.5rem, rem-vw(4rem, $xl), 4rem));
					padding-right: 0;
				} // .grid-c-r2.--about .cell.--c @include media($xs)
			} // .grid-c-r2.--about .cell.--c
			&.--r1 {
				grid-area: r1;
			} // .grid-c-r2.--about .cell.--r1
			&.--r2 {
				grid-area: r2;
			} // .grid-c-r2.--about .cell.--r2
		} // .grid-c-r2.--about .cell
		@include media($xs) {
			grid-template-columns: 100%;
			grid-template-rows: auto auto auto;
			grid-template-areas:
				"r1"
				"c-r2"
				"r2-r3";
			.cell {
				&.--c {
					grid-area: c-r2;
				} // .grid-c-r2.--about @include media($xs) .cell.--c
				&.--r1 {
					grid-area: r1;
				} // .grid-c-r2.--about @include media($xs) .cell.--r1
				&.--r2 {
					grid-area: r2-r3;
				} // .grid-c-r2.--about @include media($xs) .cell.--r2
			} // .grid-c-r2.--about @include media($xs) .cell
		} // .grid-c-r2.--about @include media($xs)
	} // .grid-c-r2.--about
} // .grid-c-r2

.description {
	&--about-space {
		padding-bottom: clamp(1rem, rem-vw(5rem, $xl), 5rem);
	} // .description--about-space
} // .description

.decor-icon {
	&--about {
		display: flex;
		justify-content: space-between;
		padding-right: clamp(0.1rem, rem-vw(3rem, $xl), 3rem);
		padding-left: 0.1rem;
		padding-bottom: clamp(1rem, rem-vw(7rem, $xl), 7rem);
		gap: 1.5rem;
	} // .decor-icon--about
} // .decor-icon

.decor-icon {
	width: 100%;
	height: auto;
	&--1 {
		max-width: clamp(3.127rem, rem-vw(7.063rem, $xl), 7.063rem);
	} // .decor-icon--1

	&--2 {
		max-width: clamp(6.127rem, rem-vw(11.127rem, $xl), 11.127rem);
	} // .decor-icon--2

	&--3 {
		max-width: clamp(3.063rem, rem-vw(7.063rem, $xl), 7.063rem);
	} // .decor-icon--3
} // .decor-icon

.values-list {
	.__it {
		@include p;
		padding-left: 3.7rem;
	} // .values-list .__it
} // .values-list

.icon {
	&--tringle-next {
		position: absolute;
		fill: rgb(var(--blue-5));
		top: clamp(0.1rem, rem-vw(1.1rem, $xl), 1.1rem);
		left: 0;
	} // .icon--tringle-next

	&--supporter {
		fill: rgb(var(--blue-5));
		margin-right: 7px;
		@include wh(
			clamp(1rem, rem-vw(3.566rem, $xl), 3.566rem),
			clamp(1rem, rem-vw(3.566rem, $xl), 3.566rem)
		);
	} // .icon--supporter
} // .icon

.supporter {
	@include selection;
	// prettier-ignore
	&__content {
		padding: clamp(1.1rem, rem-vw(6rem, $xl), 6rem)
           clamp(1.1rem, rem-vw(9.2rem, $xl), 9.2rem)
           clamp(1.1rem, rem-vw(9rem, $xl), 9rem)
           clamp(1.1rem, rem-vw(8.1rem, $xl), 8.1rem);
	} // .supporter__content
} // .supporter

.arrows-cell {
	padding-top: clamp(2.8rem, rem-vw(5.6rem, $xl), 5.6rem);
	white-space: nowrap;
} // .arrows-cell

.tag {
	white-space: nowrap;
	display: inline-block;
	font-weight: var(--fw-700);
	color: rgb(var(--blue-1));
	background: rgb(var(--blue-7));
	border-radius: var(--radius-40);
	padding: clamp(0.5rem, rem-vw(1rem, $xl), 1rem)
		clamp(1rem, rem-vw(3.5rem, $xl), 3.5rem);
	font-size: clamp(
		var(--fs-160),
		rem-vw(map.get($font-size, fs-320), $xl),
		var(--fs-320)
	);

	line-height: clamp(
		var(--lh-260),
		rem-vw(map.get($line-height, lh-460), $xl),
		var(--lh-460)
	);

	letter-spacing: var(--ls-200);
} // .tag

.supporter-cols {
	display: flex;
	margin-top: clamp(1.9rem, rem-vw(4.9rem, $xl), 4.9rem);

	@include media($xs) {
		flex-direction: column;
	} // .supporter-cols @include media($xs)

	.__left {
		width: clamp(20.7rem, rem-vw(40.7rem, $xl), 40.7rem);
		flex-grow: 0;
		flex-shrink: 0;
	} // .supporter-cols .__left
	.__right {
		width: 100%;
	} // .supporter-cols .__right
} // .supporter-cols

.supporter-list {
	list-style: none;
	padding: clamp(1rem, rem-vw(3rem, $xs), 3rem) 0 0 0;
	margin: 0;
	columns: 2;

	&--last {
		columns: 1;
	} // .supporter-list--last

	@include media($xs) {
	} // .supporter-list @include media($xs)

	.__it {
		a {
			@include p;
			font-weight: var(--fw-400);
			color: rgb(var(--black-1));
			transition: color var(--ease-linear) var(--duration-1600);
			will-change: color;

			// prettier-ignore
			&:after {
				@include wh(100%, 1px);
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				transform: translate(0, -4px);
				display: block;
				background: rgb(var(--blue-1));
				opacity: 0;
				transition: opacity var(--ease-linear) var(--duration-1600),
                transform var(--ease-linear) var(--duration-1600);
				will-change: opacity, transform;
			} // .supporter-list .__it a:after

			&:hover {
				color: rgb(var(--blue-1));
				&:after {
					opacity: 1;
					transform: translate(0, 0);
				} // .supporter-list .__it a:hover:after
			} // .supporter-list .__it a:hover

			font-size: clamp(
				var(--fs-140),
				rem-vw(map.get($font-size, fs-260), $xl),
				var(--fs-260)
			);

			line-height: clamp(
				var(--lh-300),
				rem-vw(map.get($line-height, lh-400), $xl),
				var(--lh-400)
			);

			letter-spacing: clamp(
				var(--ls-100),
				rem-vw(map.get($letter-spacing, ls-200), $xl),
				var(--ls-200)
			);
		} // .supporter-list .__it a
	} // .supporter-list .__it
} // .supporter-list

.companies {
	@include selection;
	background-color: rgb(var(--gray-4));
	// prettier-ignore
	&__content {
		padding: clamp(1rem, rem-vw(6.3rem, $xl), 6.3rem)
           clamp(1rem, rem-vw(8rem, $xl), 8rem)
           clamp(1rem, rem-vw(7rem, $xl), 7rem)
           clamp(1rem, rem-vw(8rem, $xl), 8rem);
	} // .companies__content
} // .companies

// prettier-ignore
.company-list {
	display: flex;
	gap: clamp(0.5rem, rem-vw(1.5rem, $xl), 1.5rem)
      clamp(0.56rem, rem-vw(2.56rem, $xl), 2.56rem);

	padding-top: clamp(1rem, rem-vw(3rem, $xl), 3rem);
	flex-wrap: wrap;
	justify-content: center;
} // .company-list

// prettier-ignore
.company-block {
	@include f-center;
	background-color: rgb(var(--white-1));
	border: 1px solid rgb(var(--blue-8));
	box-shadow: 0 0 8px 1px rgb(var(--blue-8));
	transition: box-shadow var(--ease-linear) var(--duration-1600),
             transform var(--ease-linear) var(--duration-1600);
	will-change: box-shadow, transform;
	border-radius: var(--radius-20);

	a {
		display: inline-block;
		padding: 1.6rem;
	} // .company-block a

	&__img {
		@include wh(clamp(9.8rem, rem-vw(15.8rem, $xl), 15.8rem));
	} // .company-block__img

	&:hover {
		box-shadow: 0 0 20px 1px rgb(var(--blue-8));
		transform: scale(1.03);
	} // .company-block:hover
} // .company-block

.persons {
	// prettier-ignore
	@include selection;
	&__content {
		padding: clamp(2.1rem, rem-vw(4.1rem, $xl), 4.1rem)
			clamp(3.2rem, rem-vw(12.4rem, $xl), 12.4rem);
	} // .persons__content
} // .persons

.persons-list {
	display: flex;
	padding-top: clamp(3rem, rem-vw(7.5rem, $xl), 7.5rem);
	gap: 3.41rem;
	flex-wrap: wrap;
	justify-content: center;
} // .persons-list

.person-block {
	// max-width: 16.998rem;
	// width: 100%;
	display: block;
	max-width: 16.998rem;

	.__img {
		display: block;
		max-width: 16.998rem;
		max-height: 16.998rem;
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 50%;
		overflow: hidden;
	} // .person-block .__img

	.__title {
		display: flex;
		align-items: center;
		text-align: center;
		color: rgb(var(--black-2));
		padding: 1.5rem 0 1.5rem;
		font-weight: var(--fw-700);
		font-size: var(--fs-180);
		line-height: var(--lh-200);
		letter-spacing: var(--ls-900);
	} // .person-block .__title

	.__descr {
		font-weight: var(--fw-400);
		display: flex;
		align-items: center;
		text-align: center;
		color: rgb(var(--black-2));
		font-size: var(--fs-140);
		line-height: var(--lh-200);
	} // .person-block .__descr
} // .person-block

.media-article-cover {
	overflow: hidden;
	border-radius: var(--radius-40);

	&__figure {
		display: block;
	} // .media-article-cover__figure

	&__link {
		@include img-overlay;
		font-size: 0;
		display: block;
		border: 0;
		&:hover {
			.link-to {
				transform: translate(-45%, -45%);
				opacity: 0.85;
			} // .media-article-cover__link:hover .link-to
		} // .media-article-cover__link:hover
	} // .media-article-cover__link

	&__figcaption {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		background-image: linear-gradient(
			to bottom,
			transparent,
			rgba(0, 0, 0, 0.75) 100%
		);
		padding: 3rem 4rem;
		background-position: center bottom;
		background-repeat: no-repeat;
		display: flex;
		align-items: flex-end;
		overflow: hidden;
		border-radius: var(--radius-40);
	} // .media-article-cover__figcaption

	&__title {
		@include truncat(2);
		font-weight: var(--fw-700);
		color: rgba(var(--white-1));
		line-height: 150%;
		letter-spacing: var(--ls-200);
		font-size: clamp(
			var(--fs-180),
			rem-vw(map.get($font-size, fs-250), $xl),
			var(--fs-250)
		);
	} // .media-article-cover__title

	&__img {
		display: block;
		width: 100%;
		border-radius: var(--radius-40);
		object-fit: cover;
		@include media($sm) {
			height: auto;
		} // .media-article-cover__img @include media($sm)
	} // .media-article-cover__img
} // .media-article-cover

.media-article {
	display: flex;
	margin-bottom: 2.77rem;

	&:last-child {
		margin-bottom: 0;
	} // .media-article:last-child

	@include media($sm) {
		margin-bottom: clamp(1.681rem, rem-vw(2.77rem, $xl), 2.77rem);
	} // .media-article @include media($sm)

	&__figure {
		display: block;
	} // .media-article__figure

	&__link {
		@include img-overlay;
		border-radius: var(--radius-40);
		overflow: hidden;
		display: block;
		margin-right: clamp(1rem, rem-vw(2rem, $xl), 2rem);
		&:hover {
			.link-to {
				transform: translate(-45%, -45%);
				opacity: 0.85;
			} // .media-article__link:hover .link-to
		} // .media-article__link:hover
	} // .media-article__link

	&__picture {
		display: block;
	} // .media-article__picture

	&__img {
		@include wh(13.916rem, 9.962rem);
		display: block;
		border-radius: var(--radius-40);
	} // .media-article__img

	&__descr {
		display: flex;
		align-items: center;
	} // .media-article__descr

	&__title {
		@include truncat(3);
		max-height: 6rem;
		font-weight: var(--fw-400);
		color: var(--black-1);
		font-size: var(--fs-140);
		line-height: var(--lh-200);
		letter-spacing: var(--ls-200);
	} // .media-article__title

	&__details-link {
		@include p;
		font-weight: var(--fw-700);
		color: rgb(var(--blue-1));
		font-size: var(--fs-140);
		line-height: var(--lh-160);
		letter-spacing: var(--ls-200);
		margin-top: 0.5rem;
		text-decoration-line: underline;
		text-underline-offset: 2px;
		display: inline-block;
		transition: color var(--ease-linear) var(--duration-1600);
		&:hover {
			color: rgb(var(--blue-5));
		} // .media-article__details-link:hover
	} // .media-article__details-link
} // .media-article

.page {
	@include selection;
	background-color: rgb(var(--white-1));

	// prettier-ignore
	&__content {
		padding: clamp(3.3rem, rem-vw(3.3rem, $xl), 3.3rem) 2rem;
 } // .page__content

	&__typography {
		@include mx(auto);
		@include unreset.some-props();
		font-weight: var(--fw-400);
		font-size: var(--fs-184);
		line-height: 157.8%;
		letter-spacing: calc(var(--ls-700) * -1);
		color: rgb(var(--black-1));
		max-width: 100rem;
		padding-bottom: 0;

		h2 {
			font-size: var(--fs-270);
			line-height: 145%;
		} // .page__typography h2

		p {
			@include my(1.5rem);
		} // .page__typography p
	} // .page__typography
} // .page

.news-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	padding-top: clamp(1.5rem, rem-vw(3rem, $xl), 3rem);
	gap: clamp(1.5rem, rem-vw(3rem, $xl), 3rem);
	@include media($sm) {
		grid-template-columns: 1fr 1fr;
	} // .news-list @include media($sm)
	@include media($xs) {
		grid-template-columns: 1fr;
	} // .news-list @include media($xs)
} // .news-list

.news-article {
	width: 100%;
	display: block;

	&__picture,
	&__link {
		display: block;
	} // .news-article__link

	&__link {
		@include p;
		border-radius: var(--radius-40);
		overflow: hidden;
		&:hover {
			&:hover {
				.link-to {
					transform: translate(-45%, -45%);
					opacity: 0.85;
				} // .news-article__link:hover:hover .link-to
			} // .news-article__link:hover:hover
		} // .news-article__link:hover
	} // .news-article__link

	&__title {
		&,
		&-link {
			color: rgb(var(--black-1));
		} // .news-article__title-link
		&-link {
			transition: color var(--ease-linear) var(--duration-1600);
			&:hover {
				color: rgba(var(--blue-1));
			} // .news-article__title-link:hover
		} // .news-article__title-link
	} // .news-article__title

	// prettier-ignore
	&__picture {
		transition: filter var(--ease-out) var(--duration-7000),
              transform var(--ease-out) var(--duration-7000);
		will-change: filter, transform;
		position: relative;
		top: 0;
		left: 0;
		&:after {
   @include wh(100%);
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgb(var(--black-0));
			opacity: 0;
			transition: opacity var(--ease-out) var(--duration-7000);
			will-change: opacity;
		} // .news-article__picture:after
		filter: brightness(1);
		&:hover {
			transform: scale(1.1);
			filter: brightness(1.15);
		} // .news-article__picture:hover
	} // .news-article__picture

	&__title {
		margin-top: 10px;
		@include truncat(2);
		font-weight: var(--fw-600);
		line-height: 145%;
		font-size: clamp(
			var(--fs-160),
			rem-vw(map.get($font-size, fs-180), $xl),
			var(--fs-200)
		);
	} // .news-article__title

	&__img {
		@include wh(100%, auto);
		transition: transform var(--ease-linear) var(--duration-1600);
		will-change: transform;
		display: block;
		border-radius: var(--radius-40);
	} // .news-article__img
} // .news-article

// prettier-ignore
.link-to {
	display: block;
	font-style: normal;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-45%, -50%);
	z-index: 1;
	filter: drop-shadow(-1px 0 19px rgba(var(--blue-9), 0.9));
	opacity: 0;
	transition: opacity var(--ease-linear) var(--duration-1600),
             transform var(--ease-linear) var(--duration-1600);
	will-change: opacity, transform;
	&--for-media-article-cover {
		@include wh(6rem);
		@include media($sm) {
			@include wh(4.1rem);
		} // .link-to--for-media-article-cover @include media($sm)
	} // .link-to--for-media-article-cover

	&--for-media-article {
		@include wh(3.1rem);
	} // .link-to--for-media-article

	&--for-news-article {
		@include wh(4.15rem);
		// prettier-ignore
		transition: opacity var(--ease-linear) var(--duration-7000),
              transform var(--ease-linear) var(--duration-7000);
		will-change: opacity, transform;
	} // .link-to--for-news-article

	svg {
		@include wh(100%);
		fill: rgb(var(--white-1));
	} // .link-to svg
} // .link-to

.entity-links {
	@include mx(auto);
	margin-top: 0.5rem;
	display: flex;
	background-color: rgba(var(--white-1), 0.1);
	border-radius: var(--radius-400);
	align-self: flex-start;

	li,
	&__li {
		padding-left: 1px;
		&:first-child {
			a {
				border-top-left-radius: var(--radius-400);
				border-bottom-left-radius: var(--radius-400);
				padding-left: 4rem;
			} // .entity-links__li:first-child a
		} // .entity-links__li:first-child
		&:last-child {
			a {
				border-top-right-radius: var(--radius-400);
				border-bottom-right-radius: var(--radius-400);
				padding-right: 4rem;
			} // .entity-links__li:last-child a
		} // .entity-links__li:last-child

		// prettier-ignore
		a {
			padding: 2.8rem
            clamp(1.2rem, rem-vw(1.7rem, $xl), 1.7rem)
            2.4rem;
			display: inline-block;
   white-space: nowrap;
			text-decoration: none;
			color: rgb(var(--white-1));
			font-size: var(--fs-130);
			text-transform: uppercase;
			font-weight: var(--fw-700);
   transition: background var(--ease-linear) var(--duration-2000),
               color var(--ease-linear) var(--duration-2000);
   will-change: background, 
                color;
			&:hover {
				color: rgb(var(--blue-1));
				background-color: rgba(var(--white-1), 1);
			} // .entity-links__li a:hover
		} // .entity-links__li a

		&.current-menu-item,
		&--current {
			a {
				color: rgb(var(--blue-1));
				background-color: rgba(var(--white-1), 1);
			} // .entity-links__li--current a
		} // .entity-links__li--current
	} // .entity-links__li

	@include media($md-sm) {
		background: none;
		li {
			padding: 0 6px;
			&:first-child,
			&:last-child {
				a {
					padding: 0 6px;
				} // .entity-links @include media($md-sm) li:last-child a
			} // .entity-links @include media($md-sm) li:last-child
		} // .entity-links @include media($md-sm) li
		a {
			background: none;
			padding: 0;
			border: 0;
			color: rgb(var(--white-1));
		} // .entity-links @include media($md-sm) a
	} // .entity-links @include media($md-sm)

	@include media($lg-sm) {
		order: -2;
		margin-bottom: 2rem;
	} // .entity-links @include media($lg-sm)

	@include media(568px) {
		flex-direction: column;
		li {
			@include py(0.5rem);
		} // .entity-links @include media(568px) li
	} // .entity-links @include media(568px)
} // .entity-links

.burger-container {
	cursor: pointer;
	display: flex;
	svg {
		transition: transform var(--duration-5000) var(--cubic-bezier-100);
	} // .burger-container svg

	&.active {
		svg {
			transform: rotate(90deg);
		} // .burger-container.active svg

		path {
			&:nth-child(1) {
				transform: translateX(9px) translateY(1px) rotate(45deg);
			} // .burger-container.active path:nth-child(1)
			&:nth-child(2) {
				stroke-dasharray: 225 299;
				stroke-dashoffset: -72px;
			} // .burger-container.active path:nth-child(2)
			&:nth-child(3) {
				transform: translateX(9px) translateY(1px) rotate(-45deg);
			} // .burger-container.active path:nth-child(3)
			&:nth-child(4) {
				stroke-dasharray: 225 299;
				stroke-dashoffset: -72px;
			} // .burger-container.active path:nth-child(4)
			&:nth-child(5) {
				transform: translateX(9px) translateY(1px) rotate(-45deg);
			} // .burger-container.active path:nth-child(5)
			&:nth-child(6) {
				transform: translateX(9px) translateY(1px) rotate(45deg);
			} // .burger-container.active path:nth-child(6)
		} // .burger-container.active path
	} // .burger-container.active
	// prettier-ignore
	path {
		transition: transform var(--duration-5000) var(--cubic-bezier-100),
              stroke-dasharray var(--duration-5000) var(--cubic-bezier-100),
              stroke-dashoffset var(--duration-5000) var(--cubic-bezier-100);
		&:nth-child(1) {
			transform-origin: 36% 40%;
		} // .burger-container path:nth-child(1)
		&:nth-child(2) {
			stroke-dasharray: 29 299;
		} // .burger-container path:nth-child(2)
		&:nth-child(3) {
			transform-origin: 35% 63%;
		} // .burger-container path:nth-child(3)
		&:nth-child(4) {
			stroke-dasharray: 29 299;
		} // .burger-container path:nth-child(4)
		&:nth-child(5) {
			transform-origin: 61% 52%;
		} // .burger-container path:nth-child(5)
		&:nth-child(6) {
			transform-origin: 62% 52%;
		} // .burger-container path:nth-child(6)
	} // .burger-container path
} // .burger-container

@-webkit-keyframes border-transform {
	0%,
	100% {
		border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
	} // @-webkit-keyframes border-transform 100%
	14% {
		border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
	} // @-webkit-keyframes border-transform 14%
	28% {
		border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
	} // @-webkit-keyframes border-transform 28%
	42% {
		border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
	} // @-webkit-keyframes border-transform 42%
	56% {
		border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
	} // @-webkit-keyframes border-transform 56%
	70% {
		border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
	} // @-webkit-keyframes border-transform 70%
	84% {
		border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
	} // @-webkit-keyframes border-transform 84%
} // @-webkit-keyframes border-transform

.progress-wrap {
	&,
	&:after,
	&:before {
		@include wh(4.6rem);
		cursor: pointer;
		display: block;
		transition: all var(--duration-2000) var(--ease-linear);
	} // .progress-wrap:before

	position: fixed;
	right: 3rem;
	bottom: 3rem;
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px rgba(var(--blue-1), 0.3);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);

	&:after,
	&:before {
		@include p("abs");
		font-family: "unicons";
		content: "⇡";
		text-align: center;
		line-height: var(--lh-460);
		font-size: var(--fs-240);
	} // .progress-wrap:before

	&:after {
		color: rgba(var(--black-0), 0.3);
		z-index: 1;
	} // .progress-wrap:after

	&:before {
		opacity: 0;
		background: rgb(var(--black-0));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		z-index: 2;
	} // .progress-wrap:before

	&:hover {
		&:after {
			opacity: 0;
		} // .progress-wrap:hover:after

		&:before {
			opacity: 1;
		} // .progress-wrap:hover:before
	} // .progress-wrap:hover

	&.active-progress {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	} // .progress-wrap.active-progress

	svg {
		path {
			fill: none;
		} // .progress-wrap svg path
		&.progress-circle {
			path {
				stroke: rgba(var(--blue-1), 1);
				stroke-width: 4;
				box-sizing: border-box;
				transition: all var(--duration-2000) var(--ease-linear);
			} // .progress-wrap svg.progress-circle path
		} // .progress-wrap svg.progress-circle
	} // .progress-wrap svg
} // .progress-wrap

.pb0 {
	padding-bottom: 0;
} // .pb0

.bg-none {
	background-color: none;
} // .bg-none
